services:
  - type: web
    name: metodos-de-optimizacion
    runtime: docker
    plan: free
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: PORT
        value: 5000
      - key: SECRET_KEY
        generateValue: true
